doctype html
html
  head
    title RecipeBuddy

    / Bootstrap CSS and theme (United Theme)
    link{
      href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/cerulean/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    }
    / Custom CSS
    / link rel='stylesheet' href='/presentation/assets/css/style.css'
    == assets(:css)
  body
    nav class="navbar navbar-expand-lg navbar-dark bg-primary"
      div class="container"
        a href="/" class="navbar-brand" RecipeBuddy
        button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
          span class="navbar-toggler-icon"
        div class="collapse navbar-collapse" id="navbarColor01"
          ul class="navbar-nav mr-auto"
            li class="nav-item"
              a class="nav-link" href="/" Our best recipes
            li class="nav-item"
              a class="nav-link" href="/page/all" Our Facebook pages
            li class="nav-item"
              a class="nav-link" href="/recipe/all" All the recipes

    div class="container" id="html_body"
      / JQuery and Bootstrap JS
      script{
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        crossorigin="anonymous"
      }
      script{
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      }
      script{
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        crossorigin="anonymous"
      }

      javascript:
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
          $('.carousel').carousel();
        })
      section style="min-height: 1000px;"
        .container
          include :flash_bar
          == yield

      == render 'footer'

      javascript:
        $(function () {
          $("#search-box").keyup(function(){
            var link = "/recipe/search/" + $(this).val();
        		$.ajax({
          		type: "GET",
          		url: link,
              dataType: 'html',
          		beforeSend: function(){
                $("#suggesstion-box").html('');
          		},
          		success: function(data){
                console.log(data);
          			$("#suggesstion-box").show();
          			$("#suggesstion-box").html(data);
          			$("#search-box").css("background","#FFF");
          		}
          	});
        	});
        })
