div class="container" id="recipes_container"
  - if page.recipes.none?
      div class="row mt-xlg"
        div class="col-md-12"
          h2 No recipes for this Facebook page.
  - else
    div class="row mt-xlg" id="recipes_div"
      h2 Our recipes for the Facebook page: #{page.name}
      div class="card-columns" id="recipes_content" style="margin-top: 25px;"
        - page.recipes.collection.each.with_index do |recipe, index|
            include recipe_card
- if page.loading?
  script src = "#{page.ws_host}/faye.js"
  javascript:
    var channel = "#{page.ws_channel_id}";
    var client = new Faye.Client("#{page.ws_host}/faye");
    client.subscribe('/' + channel, function(message) {
      var recipe_id = parseInt(message);
      var link = "/loaded_recipe/" + recipe_id;
      $.ajax({
        url: link,
        type: 'GET',
        dataType: 'html',
        error:function(error){
          console.log(error);
        },
        success: function(data) {
          $('#recipes_content').append(data);
        }
      });
    });
